<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="pdf-protect"
    version="1.0.0">
    <name>Android Protect PDF</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/driftyco/cordova-plugin-template.git</repo>
    <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>
    <js-module src="www/plugin.js" name="plugin">
      <runs/>
      <!-- This is the window variable name you want, like window.PDF_Protect -->
      <clobbers target="cordova.plugins.PDF_Protect" />
    </js-module>

    <!-- android -->
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="PDF_Protect">
          <param name="android-package" value="com.source.PDF_Protect" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
      <framework src="./build.gradle" custom="true" type="gradleReference" />
      <source-file src="src/android/com/source/PDF_Protect.java" target-dir="src/com/source/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
      <config-file parent="/*" target="config.xml">
        <feature name="PDFProtector">
            <param name="ios-package" value="PDFProtector" />
        </feature>
      </config-file>
      <source-file src="src/ios/PDFGenerateError.swift" />
      <source-file src="src/ios/PDFPassword.swift" />
      <source-file src="src/ios/PDFProtector.swift" />
    </platform>

</plugin>
